// Variables

// Restate Bootstrap Variables

$white   : #fff !default;
$gray-100: #f8f9fa !default;
$gray-800: #343a40 !default;
$black   : #000 !default;

$blue   : #007bff !default;
$indigo : #6610f2 !default;
$purple : #6f42c1 !default;
$pink   : #FF4C60 !default;
$red    : #dc3545 !default;
$orange : #BD5D38 !default;
$yellow : #ffc107 !default;
$green  : #28a745 !default;
$teal   : #20c997 !default;
$cyan   : #17a2b8 !default;

$mat-dark     : #121212 !default;
$mat-dark-med : #1D1D1D !default;
$mat-dark-lite: #313131 !default;

$sw-lite-grey: #8B88B1 !default;
$sw-dark     : #2D3031 !default;
$sw-dark-2   : #333739 !default;
$sw-lite     : #F4EEEB !default;
$sw-orange   : #FE5029 !default;

$success : $green !default;
$info    : $cyan !default;
$warning : $yellow !default;
$danger  : $red !default;
$light   : $gray-100 !default;
$dark    : $gray-800 !default;

// Page Variables

$sidebar-base-width: 20rem;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// font weights
$font-lite: 200;
$font-med  : 400;
$font-heavy: 500;
$font-hulk : 700;